        *{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style: none;
        }
        .tabDiv{
            width: 200px;
            height: 150px;
            background:#ccc;
            overflow: hidden;
        }