/* 简易重置 */
*{ margin: 0; padding: 0; }
img{ border:0; }
ol, ul ,li{ list-style: none; } 
textarea{display:block;width: 500px;min-height: 1000px;float: left;margin-right: 30px;font-size: 14px;font-family: "微软雅黑";}
/* 代码部分 */
/* 第一块 */
.table{ overflow: hidden;margin-bottom: 30px;}
.table ul:nth-of-type(1){ width: 35px;float: left;}
.table ul:nth-of-type(2){ width: 130px;float: left; margin: 0 5px;}
.table ul:nth-of-type(3){ width: 50px;float: left;}
.table ul li:nth-of-type(odd){ background: #cccccc;}
.table ul li:nth-of-type(1){ background: #000; color: #fff; font-weight: bold;}
.table ul li:nth-of-type(2),.table ul li:nth-of-type(3),.table ul li:nth-of-type(4){color:red;}
/* 第二块 */
.input{ margin-bottom: 50px;}
.text{ width: 100px; height: 20px; border: 1px solid #ccc; font-size: 12px; line-height: 20px;display: block; transition: 1s width;margin-left: 20px;outline: none;padding-left: 10px;}
.text:focus{ width:200px;}
/* 第三块 */
.banner{width: 300px; height: 100px; position: relative; overflow:hidden;margin-bottom: 30px;}
.banner .banner_show{width: 300%; height: 100%;position:absolute;left:0;top:0;animation:banner 8s infinite;}
.banner .banner_show li{ width: 300px;height: 100px;float: left;}
.banner .banner_show li:nth-of-type(1){ background: red;}
.banner .banner_show li:nth-of-type(2){ background: blue;}
.banner .banner_show li:nth-of-type(3){ background: green;}
.banner ol{ width: 100px;height: 30px;position:absolute;right:0;bottom:0;}
.banner ol li{ width: 30px;height: 30px;float: left;background: rgba(255,255,255,0.5);font-size: 14px;text-align: center;line-height: 30px;cursor: pointer;}
.banner ol li:nth-of-type(2){margin: 0 5px;}
/* 自动轮播 */
@keyframes banner{
    15% { transform: translate(0px); }
    30%{ transform: translate(-300px);}
    45% { transform: translate(-300px);}
    60% { transform: translate(-600px);}
    75% { transform: translate(-600px);}
    90% { transform: translate(0);}
}
.show{ padding-top: 20px;padding-bottom: 100px;}
/* 代码部分 */
.show{overflow:hidden;}
